In [60]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import json

import warnings
warnings.filterwarnings("ignore")

print('numpy version - ', np.__version__)
print('pandas version - ', pd.__version__)

def seriesInfo(s):
    print('index - ', s.index, type(s.index))
    print('value - ', s.values, type(s.values))
    print()
    print('data - ')
    print(s)
    
def frmInfo(df):
    print('shape - ', df.shape)
    print('size - ', df.size)
    print('ndim - ', df.ndim)
    print('row index - ', df.index, type(df.index))
    print('col index - ', df.columns, type(df.columns))
    print('values - \n', df.values, type(df.values))
    print()
    print('data - ')
    display(df)

numpy version -  1.21.5
pandas version -  1.4.2

#### 1. 서울시 구별 cctv 현황분석
- 서울시 각 구별 CCTV수를 파악하고, 인구대비 CCTV 비율을 파악해서 순위 비교
- 인구대비 CCTV의 평균치를 확인하고 그로부터 CCtv가 과하게 부족한 구를 확인
- service_data_cctv_in_seoul.csv(cctv현황)
- service_data_population_in_seoul.xlsx(인구현황)

In [61]:
print('step 01. load 후 데이터 스키마 확인')

seoul_cctv_frm = pd.read_csv('./data/pandas_data/service_data_cctv_in_seoul.csv')
seoul_cctv_frm

step 01. load 후 데이터 스키마 확인

     기관명    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [62]:
print('기관명 -> 구별 변경 - rename()')
seoul_cctv_frm.rename(columns = {'기관명': '구별'}, inplace = True)
seoul_cctv_frm

기관명 -> 구별 변경 - rename()

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [63]:
print('인구현황 데이터 로드 - ')
seoul_pop_frm = pd.read_excel('./data/pandas_data/service_data_population_in_seoul.xls',
                             header = 2,
                             usecols = 'B,D,G,J,N')
seoul_pop_frm

인구현황 데이터 로드 -

     자치구           계        계.1       계.2   65세이상고령자
0     합계  10197604.0  9926968.0  270636.0  1321458.0
1    종로구    162820.0   153589.0    9231.0    25425.0
2     중구    133240.0   124312.0    8928.0    20764.0
3    용산구    244203.0   229456.0   14747.0    36231.0
4    성동구    311244.0   303380.0    7864.0    39997.0
5    광진구    372164.0   357211.0   14953.0    42214.0
6   동대문구    369496.0   354079.0   15417.0    54173.0
7    중랑구    414503.0   409882.0    4621.0    56774.0
8    성북구    461260.0   449773.0   11487.0    64692.0
9    강북구    330192.0   326686.0    3506.0    54813.0
10   도봉구    348646.0   346629.0    2017.0    51312.0
11   노원구    569384.0   565565.0    3819.0    71941.0
12   은평구    494388.0   489943.0    4445.0    72334.0
13  서대문구    327163.0   314982.0   12181.0    48161.0
14   마포구    389649.0   378566.0   11083.0    48765.0
15   양천구    479978.0   475949.0    4029.0    52975.0
16   강서구    603772.0   597248.0    6524.0    72548.0
17   구로구    447874.0   416487.0   31387.0    56833.0
18   금천구    255082.0   236353.0   18729.0    32970.0
19  영등포구    402985.0   368072.0   34913.0    52413.0
20   동작구    412520.0   400456.0   12064.0    56013.0
21   관악구    525515.0   507203.0   18312.0    68082.0
22   서초구    450310.0   445994.0    4316.0    51733.0
23   강남구    570500.0   565550.0    4950.0    63167.0
24   송파구    667483.0   660584.0    6899.0    72506.0
25   강동구    453233.0   449019.0    4214.0    54622.0
26   NaN         NaN        NaN       NaN        NaN

In [64]:
seoul_pop_frm.columns

Index(['자치구', '계', '계.1', '계.2', '65세이상고령자'], dtype='object')

In [65]:
print('자치구 -> 구별, 인구수, 한국인, 외국인, 고령자 rename()')
seoul_pop_frm.rename(columns = {'자치구': '구별', '계': '인구수',
                                '계.1': '한국인', '계.2':'외국인',
                               '65세이상고령자':'고령자'}, inplace = True)
seoul_pop_frm

자치구 -> 구별, 인구수, 한국인, 외국인, 고령자 rename()

      구별         인구수        한국인       외국인        고령자
0     합계  10197604.0  9926968.0  270636.0  1321458.0
1    종로구    162820.0   153589.0    9231.0    25425.0
2     중구    133240.0   124312.0    8928.0    20764.0
3    용산구    244203.0   229456.0   14747.0    36231.0
4    성동구    311244.0   303380.0    7864.0    39997.0
5    광진구    372164.0   357211.0   14953.0    42214.0
6   동대문구    369496.0   354079.0   15417.0    54173.0
7    중랑구    414503.0   409882.0    4621.0    56774.0
8    성북구    461260.0   449773.0   11487.0    64692.0
9    강북구    330192.0   326686.0    3506.0    54813.0
10   도봉구    348646.0   346629.0    2017.0    51312.0
11   노원구    569384.0   565565.0    3819.0    71941.0
12   은평구    494388.0   489943.0    4445.0    72334.0
13  서대문구    327163.0   314982.0   12181.0    48161.0
14   마포구    389649.0   378566.0   11083.0    48765.0
15   양천구    479978.0   475949.0    4029.0    52975.0
16   강서구    603772.0   597248.0    6524.0    72548.0
17   구로구    447874.0   416487.0   31387.0    56833.0
18   금천구    255082.0   236353.0   18729.0    32970.0
19  영등포구    402985.0   368072.0   34913.0    52413.0
20   동작구    412520.0   400456.0   12064.0    56013.0
21   관악구    525515.0   507203.0   18312.0    68082.0
22   서초구    450310.0   445994.0    4316.0    51733.0
23   강남구    570500.0   565550.0    4950.0    63167.0
24   송파구    667483.0   660584.0    6899.0    72506.0
25   강동구    453233.0   449019.0    4214.0    54622.0
26   NaN         NaN        NaN       NaN        NaN

In [66]:
print('step02. cctv와 인구 현황 데이터 파악')
print('소계를 기준으로 오름차순 정렬 - cctv가 가장 많은 구 확인')
print(seoul_cctv_frm.sort_values(by = '소계', ascending=True))

print('2014-2016년 cctv수를 더하고 2013년 이전 cctv수로 나누어서 최근 3년간 cctv 증가율 계산 - ')
seoul_cctv_frm['증가율'] = round((seoul_cctv_frm['2014년'] + seoul_cctv_frm['2015년'] + seoul_cctv_frm['2016년']) / seoul_cctv_frm['2013년도 이전'] * 100 ,2)
print(seoul_cctv_frm)

step02. cctv와 인구 현황 데이터 파악
소계를 기준으로 오름차순 정렬 - cctv가 가장 많은 구 확인
      구별    소계  2013년도 이전  2014년  2015년  2016년
9    도봉구   485        238    159     42    386
12   마포구   574        314    118    169    379
17   송파구   618        529     21     68    463
24   중랑구   660        509    121    177    109
23    중구   671        413    190     72    348
5    광진구   707        573     78     53    174
2    강북구   748        369    120    138    204
1    강동구   773        379     99    155    377
3    강서구   884        388    258    184     81
19  영등포구   904        495    214    195    373
13  서대문구   962        844     50     68    292
22   종로구  1002        464    314    211    630
7    금천구  1015        674     51    269    354
15   성동구  1062        730     91    241    265
11   동작구  1091        544    341    103    314
8    노원구  1265        542     57    451    516
10  동대문구  1294       1070     23    198    579
16   성북구  1464       1009     78    360    204
4    관악구  1496        846    260    390    613
6    구로구  1561       1142    173    246    323
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
14   서초구  1930       1406    157    336    398
18   양천구  2034       1843    142     30    467
0    강남구  2780       1292    430    584    932
2014-2016년 cctv수를 더하고 2013년 이전 cctv수로 나누어서 최근 3년간 cctv 증가율 계산 -
      구별    소계  2013년도 이전  2014년  2015년  2016년     증가율
0    강남구  2780       1292    430    584    932  150.62
1    강동구   773        379     99    155    377  166.49
2    강북구   748        369    120    138    204  125.20
3    강서구   884        388    258    184     81  134.79
4    관악구  1496        846    260    390    613  149.29
5    광진구   707        573     78     53    174   53.23
6    구로구  1561       1142    173    246    323   64.97
7    금천구  1015        674     51    269    354  100.00
8    노원구  1265        542     57    451    516  188.93
9    도봉구   485        238    159     42    386  246.64
10  동대문구  1294       1070     23    198    579   74.77
11   동작구  1091        544    341    103    314  139.34
12   마포구   574        314    118    169    379  212.10
13  서대문구   962        844     50     68    292   48.58
14   서초구  1930       1406    157    336    398   63.37
15   성동구  1062        730     91    241    265   81.78
16   성북구  1464       1009     78    360    204   63.63
17   송파구   618        529     21     68    463  104.35
18   양천구  2034       1843    142     30    467   34.67
19  영등포구   904        495    214    195    373  157.98
20   용산구  1624       1368    218    112    398   53.22
21   은평구  1873       1138    224    278    468   85.24
22   종로구  1002        464    314    211    630  248.92
23    중구   671        413    190     72    348  147.70
24   중랑구   660        509    121    177    109   79.96

In [67]:
print('증가율이 가장 높은 구 확인')
seoul_cctv_frm.sort_values(by='증가율', ascending = False).head(1)

증가율이 가장 높은 구 확인

     구별    소계  2013년도 이전  2014년  2015년  2016년     증가율
22  종로구  1002        464    314    211    630  248.92

In [68]:
print('step03 - 서울시 인구 데이터 파악')
print('drop - 합계 삭제')
print('구별 결측값 확인 - 만약, 결측값이 있다면 행 삭제')
print('각 구별 전체 인구를 이용하여 구별 외국인 비율과 고령자 비율 계산하여 반영')
print('인구수로 정렬하여 인사이트 찾아보자')

seoul_pop_frm.drop(0, axis=0, inplace = True)
seoul_pop_frm

step03 - 서울시 인구 데이터 파악
drop - 합계 삭제
구별 결측값 확인 - 만약, 결측값이 있다면 행 삭제
각 구별 전체 인구를 이용하여 구별 외국인 비율과 고령자 비율 계산하여 반영
인구수로 정렬하여 인사이트 찾아보자

      구별       인구수       한국인      외국인      고령자
1    종로구  162820.0  153589.0   9231.0  25425.0
2     중구  133240.0  124312.0   8928.0  20764.0
3    용산구  244203.0  229456.0  14747.0  36231.0
4    성동구  311244.0  303380.0   7864.0  39997.0
5    광진구  372164.0  357211.0  14953.0  42214.0
6   동대문구  369496.0  354079.0  15417.0  54173.0
7    중랑구  414503.0  409882.0   4621.0  56774.0
8    성북구  461260.0  449773.0  11487.0  64692.0
9    강북구  330192.0  326686.0   3506.0  54813.0
10   도봉구  348646.0  346629.0   2017.0  51312.0
11   노원구  569384.0  565565.0   3819.0  71941.0
12   은평구  494388.0  489943.0   4445.0  72334.0
13  서대문구  327163.0  314982.0  12181.0  48161.0
14   마포구  389649.0  378566.0  11083.0  48765.0
15   양천구  479978.0  475949.0   4029.0  52975.0
16   강서구  603772.0  597248.0   6524.0  72548.0
17   구로구  447874.0  416487.0  31387.0  56833.0
18   금천구  255082.0  236353.0  18729.0  32970.0
19  영등포구  402985.0  368072.0  34913.0  52413.0
20   동작구  412520.0  400456.0  12064.0  56013.0
21   관악구  525515.0  507203.0  18312.0  68082.0
22   서초구  450310.0  445994.0   4316.0  51733.0
23   강남구  570500.0  565550.0   4950.0  63167.0
24   송파구  667483.0  660584.0   6899.0  72506.0
25   강동구  453233.0  449019.0   4214.0  54622.0
26   NaN       NaN       NaN      NaN      NaN

In [69]:
seoul_pop_frm['구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', nan],
      dtype=object)

In [71]:
seoul_pop_frm[seoul_pop_frm['구별'].isnull()]
seoul_pop_frm.drop(26, axis = 0, inplace = True)

In [72]:
seoul_pop_frm['구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [74]:
seoul_pop_frm['외국인비율'] = seoul_pop_frm['외국인']/seoul_pop_frm['인구수'] * 100
seoul_pop_frm['고령자비율'] = seoul_pop_frm['고령자']/seoul_pop_frm['인구수'] * 100
seoul_pop_frm.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [76]:
seoul_pop_frm.sort_values(by = '인구수', ascending=False).head()

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
24  송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
16  강서구  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
23  강남구  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217
11  노원구  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
21  관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291

In [77]:
seoul_pop_frm.sort_values(by = '외국인', ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598  13.006191
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998  12.689506
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
21   관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291
6   동대문구  369496.0  354079.0  15417.0  54173.0  4.172440  14.661322

In [80]:
print('step04 - 인구대비 cctv 현황을 분석하기 위해서 테이블 병합 - ')
merge_outer_frm = pd.merge(seoul_cctv_frm, seoul_pop_frm, how='outer', on = '구별')
merge_outer_frm.head()

step04 - 인구대비 cctv 현황을 분석하기 위해서 테이블 병합 -

,구별,소계,2013년도 이전,2014년,2015년,2016년,증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,430,584,932,150.62,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,379,99,155,377,166.49,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,369,120,138,204,125.20,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,388,258,184,81,134.79,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,846,260,390,613,149.29,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [89]:
merge_outer_frm.drop(['2013년도 이전','2014년','2015년','2016년'], axis=1, inplace=True)
merge_outer_frm

,구별,소계,증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,150.62,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,166.49,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,125.20,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,134.79,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,149.29,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291
5,광진구,707,53.23,372164.0,357211.0,14953.0,42214.0,4.017852,11.342849
6,구로구,1561,64.97,447874.0,416487.0,31387.0,56833.0,7.007998,12.689506
7,금천구,1015,100.00,255082.0,236353.0,18729.0,32970.0,7.342345,12.925255
8,노원구,1265,188.93,569384.0,565565.0,3819.0,71941.0,0.670725,12.634883
9,도봉구,485,246.64,348646.0,346629.0,2017.0,51312.0,0.578524,14.717507
10,동대문구,1294,74.77,369496.0,354079.0,15417.0,54173.0,4.172440,14.661322
11,동작구,1091,139.34,412520.0,400456.0,12064.0,56013.0,2.924464,13.578251
12,마포구,574,212.10,389649.0,378566.0,11083.0,48765.0,2.844355,12.515110
13,서대문구,962,48.58,327163.0,314982.0,12181.0,48161.0,3.723221,14.720797
14,서초구,1930,63.37,450310.0,445994.0,4316.0,51733.0,0.958451,11.488308
15,성동구,1062,81.78,311244.0,303380.0,7864.0,39997.0,2.526635,12.850689
16,성북구,1464,63.63,461260.0,449773.0,11487.0,64692.0,2.490353,14.025062
17,송파구,618,104.35,667483.0,660584.0,6899.0,72506.0,1.033584,10.862599
18,양천구,2034,34.67,479978.0,475949.0,4029.0,52975.0,0.839413,11.036964
19,영등포구,904,157.98,402985.0,368072.0,34913.0,52413.0,8.663598,13.006191
20,용산구,1624,53.22,244203.0,229456.0,14747.0,36231.0,6.038828,14.836427
21,은평구,1873,85.24,494388.0,489943.0,4445.0,72334.0,0.899091,14.631019
22,종로구,1002,248.92,162820.0,153589.0,9231.0,25425.0,5.669451,15.615404
23,중구,671,147.70,133240.0,124312.0,8928.0,20764.0,6.700690,15.583909
24,중랑구,660,79.96,414503.0,409882.0,4621.0,56774.0,1.114829,13.696885

In [91]:
print('시각화를 위해서 구별을 인덱스로 설정 - set_index')
merge_outer_frm.set_index('구별', inplace = True)
merge_outer_frm

시각화를 위해서 구별을 인덱스로 설정 -

        소계     증가율       인구수       한국인      외국인      고령자     외국인비율      고령자비율
구별
강남구   2780  150.62  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217
강동구    773  166.49  453233.0  449019.0   4214.0  54622.0  0.929765  12.051638
강북구    748  125.20  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
강서구    884  134.79  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
관악구   1496  149.29  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291
광진구    707   53.23  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849
구로구   1561   64.97  447874.0  416487.0  31387.0  56833.0  7.007998  12.689506
금천구   1015  100.00  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
노원구   1265  188.93  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
도봉구    485  246.64  348646.0  346629.0   2017.0  51312.0  0.578524  14.717507
동대문구  1294   74.77  369496.0  354079.0  15417.0  54173.0  4.172440  14.661322
동작구   1091  139.34  412520.0  400456.0  12064.0  56013.0  2.924464  13.578251
마포구    574  212.10  389649.0  378566.0  11083.0  48765.0  2.844355  12.515110
서대문구   962   48.58  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797
서초구   1930   63.37  450310.0  445994.0   4316.0  51733.0  0.958451  11.488308
성동구   1062   81.78  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
성북구   1464   63.63  461260.0  449773.0  11487.0  64692.0  2.490353  14.025062
송파구    618  104.35  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
양천구   2034   34.67  479978.0  475949.0   4029.0  52975.0  0.839413  11.036964
영등포구   904  157.98  402985.0  368072.0  34913.0  52413.0  8.663598  13.006191
용산구   1624   53.22  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
은평구   1873   85.24  494388.0  489943.0   4445.0  72334.0  0.899091  14.631019
종로구   1002  248.92  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
중구     671  147.70  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
중랑구    660   79.96  414503.0  409882.0   4621.0  56774.0  1.114829  13.696885

In [94]:
print('상관관계 지수를 확인하는 함수 - np.crrcoef()')
print(np.corrcoef(merge_outer_frm['인구수'], merge_outer_frm['소계']))
print(np.corrcoef(merge_outer_frm['고령자'], merge_outer_frm['소계']))
print(np.corrcoef(merge_outer_frm['외국인비율'], merge_outer_frm['소계']))
print(np.corrcoef(merge_outer_frm['고령자비율'], merge_outer_frm['소계']))

상관관계 지수를 확인하는 함수 - np.crrcoef()
[[1.         0.30634228]
 [0.30634228 1.        ]]
[[1.         0.25519598]
 [0.25519598 1.        ]]
[[ 1.         -0.13607433]
 [-0.13607433  1.        ]]
[[ 1.         -0.28078554]
 [-0.28078554  1.        ]]

#### 실습2
- 강남 3구의 주민들이 자신들이 거주하는 구의 체감 안전도를 높게 생각한다는 기사
- http://news1.kr/articles/?1911504

In [96]:
print('step01. load 후 데이터 스키마 확인')
seoul_crime_frm = pd.read_csv('./data/pandas_data/service_data_crime_in_seoul.csv',
                            encoding= 'cp949')
seoul_crime_frm.info()

step01. load 후 데이터 스키마 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     object
 8   절도 검거   31 non-null     object
 9   폭력 발생   31 non-null     object
 10  폭력 검거   31 non-null     object
dtypes: int64(6), object(5)
memory usage: 2.8+ KB

In [98]:
seoul_crime_frm.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생 절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65  1,395   477  1,355  1,170
1   종로서      3      3      6      5    115     98  1,070   413  1,278  1,070
2  남대문서      1      0      6      4     65     46  1,153   382    869    794
3  서대문서      2      2      5      4    154    124  1,812   738  2,056  1,711
4   혜화서      3      2      5      4     96     63  1,114   424  1,015    861

In [99]:
import googlemaps

In [108]:
gmaps = googlemaps.Client(key='AIzaSyDdki495w62u7ziBMaVuzyYf4n-VZ8tsGA')
gmaps

 API queries_quota: 60

In [109]:
gmaps.geocode('중부서', language='ko')

[{'address_components': [{'long_name': '２７',
    'short_name': '２７',
    'types': ['premise']},
   {'long_name': '수표로',
    'short_name': '수표로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '100-032',
    'short_name': '100-032',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 수표로 27',
  'geometry': {'location': {'lat': 37.56361709999999, 'lng': 126.9896517},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5649660802915,
     'lng': 126.9910006802915},
    'southwest': {'lat': 37.5622681197085, 'lng': 126.9883027197085}}},
  'partial_match': True,
  'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
  'plus_code': {'compound_code': 'HX7Q+CV 대한민국 서울특별시',
   'global_code': '8Q98HX7Q+CV'},
  'types': ['establishment', 'point_of_interest', 'police']}]

In [115]:
print('관서명이 **서이므로 주소검색에 문제 발생')
print('관서명을 서울**경찰서로 만들어서 station_name_list 리스트에 담기')
station_name_lst = []
for station in seoul_crime_frm['관서명']:
    station_name_lst.append('서울'+station[:-1]+'경찰서')

관서명이 **서이므로 주소검색에 문제 발생
관서명을 서울**경찰서로 만들어서 station_name_list 리스트에 담기

In [116]:
station_name_lst

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [127]:
print('경찰서이름의 풀 주소와 위도, 경도를 구해보자 - ')
station_address = []
station_lat = []
station_lng = []

for station in station_name_lst:
    address = gmaps.geocode(station, language='ko')
    station_address.append(address[0].get("formatted_address"))
    
    address_geo = address[0].get('geometry')
    
    station_lat.append(address_geo['location']['lat'])
    station_lng.append(address_geo['location']['lng'])
    
print(station_address)
print(station_lat)
print(station_lng)

경찰서이름의 풀 주소와 위도, 경도를 구해보자 -
['대한민국 서울특별시 중구 수표로 27', '대한민국 서울특별시 종로구 인사동5길 41', '대한민국 서울특별시 중구 한강대로 410', '대한민국 서울특별시 서대문구 통일로 113', '대한민국 서울특별시 종로구 창경궁로 112-16', '대한민국 서울특별시 용산구 백범로 329', '대한민국 서울특별시 성북구 삼선동 보문로 170', '대한민국 서울특별시 동대문구 약령시로21길 29', '대한민국 서울특별시 마포구 마포대로 183', '대한민국 서울특별시 영등포구 국회대로 608', '대한민국 서울특별시 성동구 행당동 왕십리광장로 9', '대한민국 서울특별시 동작구 노량진로 148', '대한민국 서울특별시 광진구 구의동 자양로 167', '대한민국 서울특별시 은평구 진흥로 58', '대한민국 서울특별시 강북구 오패산로 406', '대한민국 서울특별시 금천구 시흥대로73길 50', '대한민국 서울특별시 중랑구 묵2동 249-2', '대한민국 서울특별시 강남구 테헤란로114길 11', '대한민국 서울특별시 관악구 관악로5길 33', '대한민국 서울특별시 양천구 신월동 화곡로 73', '대한민국 서울특별시 강동구 성내로 57', '대한민국 서울특별시 성북구 종암로 135', '대한민국 서울특별시 구로구 가마산로 235', '대한민국 서울특별시 서초구 서초3동 반포대로 179', '대한민국 서울특별시 양천구 목동동로 99', '대한민국 서울특별시 송파구 중대로 221', '대한민국 서울특별시 노원구 노원로 283', '대한민국 서울특별시 서초구 동작대로 204', '대한민국 서울특별시 은평구 연서로 365', '대한민국 서울특별시 도봉구 노해로 403', '대한민국 서울특별시 강남구 개포로 617']
[37.56361709999999, 37.571824, 37.5547584, 37.5647439, 37.5719679, 37.5387099, 37.58977830000001, 37.58506149999999, 37.550814, 37.5260441, 37.5617303, 37.5130866, 37.542873, 37.6020914, 37.63730390000001, 37.4568722, 37.6056429, 37.5094352, 37.4743945, 37.5397827, 37.528511, 37.6019994, 37.494931, 37.4956054, 37.5167711, 37.5016941, 37.6421389, 37.4945959, 37.6280204, 37.6533589, 37.49349]
[126.9896517, 126.9841533, 126.9734981, 126.9667705, 126.9989574, 126.9659183, 127.016589, 127.0457679, 126.954028, 126.9008091, 127.0364217, 126.9428498, 127.083821, 126.9213528, 127.0273399, 126.8970429, 127.0764866, 127.0669578, 126.9513489, 126.8299968, 127.1268224, 127.0322276, 126.886731, 127.0052504, 126.8656996, 127.1272481, 127.0710473, 126.9831279, 126.9287899, 127.052682, 127.0772119]

In [128]:
seoul_crime_frm['관서명'].unique()

array(['중부서', '종로서', '남대문서', '서대문서', '혜화서', '용산서', '성북서', '동대문서', '마포서',
       '영등포서', '성동서', '동작서', '광진서', '서부서', '강북서', '금천서', '중랑서', '강남서',
       '관악서', '강서서', '강동서', '종암서', '구로서', '서초서', '양천서', '송파서', '노원서',
       '방배서', '은평서', '도봉서', '수서서'], dtype=object)

In [132]:
print('구별 컬럼추가 - station_address를 이용해서 ')
station_gu = []
for address in station_address:
    station_gu.append(address.split()[2])

구별 컬럼추가 - station_address를 이용해서

In [133]:
print(station_gu)

['중구', '종로구', '중구', '서대문구', '종로구', '용산구', '성북구', '동대문구', '마포구', '영등포구', '성동구', '동작구', '광진구', '은평구', '강북구', '금천구', '중랑구', '강남구', '관악구', '양천구', '강동구', '성북구', '구로구', '서초구', '양천구', '송파구', '노원구', '서초구', '은평구', '도봉구', '강남구']

In [135]:
seoul_crime_frm['구별'] = station_gu

In [136]:
seoul_crime_frm.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,"1,395",477,"1,355","1,170",중구
1,종로서,3,3,6,5,115,98,"1,070",413,"1,278","1,070",종로구
2,남대문서,1,0,6,4,65,46,"1,153",382,869,794,중구
3,서대문서,2,2,5,4,154,124,"1,812",738,"2,056","1,711",서대문구
4,혜화서,3,2,5,4,96,63,"1,114",424,"1,015",861,종로구

In [138]:
print('파일 저장 - service_data_crime_gu_in_seoul.csv')
seoul_crime_frm.to_csv('./data/pandas_data/service_data_crime_gu_in_seoul.csv',
                       encoding= 'cp949')

파일 저장 - service_data_crime_gu_in_seoul.csv
저장한 파일 로드 -

In [149]:
print('저장한 파일 로드 - ')
seoul_crime_frm = pd.read_csv('./data/pandas_data/service_data_crime_gu_in_seoul.csv',
                             encoding = 'cp949',
                             thousands = ',',
                             index_col = 0)
seoul_crime_frm.head()

저장한 파일 로드 -

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [142]:
seoul_crime_frm.drop('Unnamed: 0', axis = 1, inplace = True)
seoul_crime_frm.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,"1,395",477,"1,355","1,170",중구
1,종로서,3,3,6,5,115,98,"1,070",413,"1,278","1,070",종로구
2,남대문서,1,0,6,4,65,46,"1,153",382,869,794,중구
3,서대문서,2,2,5,4,154,124,"1,812",738,"2,056","1,711",서대문구
4,혜화서,3,2,5,4,96,63,"1,114",424,"1,015",861,종로구

In [150]:
print('step03. 범죄데이터를 구별로 정리하기')
print('피봇테이블을 이용해서 관서별에서 구별로 바꿔보자')

seoul_crime_frm.pivot_table(index='구별',
                           aggfunc = np.sum)

step03. 범죄데이터를 구별로 정리하기
피봇테이블을 이용해서 관서별에서 구별로 바꿔보자

      강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구     349    449     18     21     10     13   1650   3850   3705   4284
강동구     123    156      8      6      3      4    789   2366   2248   2712
강북구     126    153     13     14      8      7    618   1434   2348   2649
관악구     221    320     14     12      8      9    827   2706   2642   3298
광진구     220    240     26     14      4      4   1277   3026   2180   2625
구로구     164    281     11     15      6      8    889   2335   2432   3007
금천구     122    151      6      6      4      3    888   1567   1776   2054
노원구     121    197      7      7     10     10    801   2193   2329   2723
도봉구     106    102     10      9      3      3    478   1063   1303   1487
동대문구    146    173     13     13      5      5    814   1981   2227   2548
동작구     139    285      5      9      5      5    661   1865   1587   1910
마포구     247    294     10     14      8      8    813   2555   2519   2983
서대문구    124    154      4      5      2      2    738   1812   1711   2056
서초구     249    393      6      9      6      8   1091   2635   2098   2399
성동구     119    126      8      9      4      4    597   1607   1395   1612
성북구     124    150      4      5      5      5    741   1785   1855   2209
송파구     178    220     10     13     10     11   1129   3239   2786   3295
양천구     296    382     16     19     13     10   1932   3986   4748   5716
영등포구    183    295     20     22     12     14    978   2964   2961   3572
용산구     173    194     14     14      5      5    587   1557   1704   2050
은평구     141    166      6      9      3      3    711   1914   2306   2653
종로구     161    211      9     11      5      6    837   2184   1931   2293
중구      111    170      6      9      2      3    859   2548   1964   2224
중랑구     148    187      9     11     12     13    829   2135   2407   2847

In [151]:
print('step04 - 범죄별 검거율계산해서 검거 건수를 검거율로 대체')
print('강간검거율, 살인검거율, 강도검거율, 절도검거율, 폭력검거율 대체하고 검거는 삭제')

seoul_crime_frm['강도검거율'] = seoul_crime_frm['강도 검거']/seoul_crime_frm['강도 발생']*100
seoul_crime_frm['살인검거율'] = seoul_crime_frm['살인 검거']/seoul_crime_frm['살인 발생']*100
seoul_crime_frm['강간검거율'] = seoul_crime_frm['강간 검거']/seoul_crime_frm['강간 발생']*100
seoul_crime_frm['절도검거율'] = seoul_crime_frm['절도 검거']/seoul_crime_frm['절도 발생']*100
seoul_crime_frm['폭력검거율'] = seoul_crime_frm['폭력 검거']/seoul_crime_frm['폭력 발생']*100

step04 - 범죄별 검거율계산해서 검거 건수를 검거율로 대체
강간검거율, 살인검거율, 강도검거율, 절도검거율, 폭력검거율 대체하고 검거는 삭제

In [154]:
seoul_crime_pivot_frm = seoul_crime_frm.pivot_table(index='구별', aggfunc=np.sum)
seoul_crime_pivot_frm

,강간 검거,강간 발생,강간검거율,강도 검거,강도 발생,강도검거율,살인 검거,살인 발생,살인검거율,절도 검거,절도 발생,절도검거율,폭력 검거,폭력 발생,폭력검거율
구별,,,,,,,,,,,,,,,
강남구,349,449,158.221477,18,21,180.000000,10,13,170.000000,1650,3850,87.095081,3705,4284,172.765256
강동구,123,156,78.846154,8,6,133.333333,3,4,75.000000,789,2366,33.347422,2248,2712,82.890855
강북구,126,153,82.352941,13,14,92.857143,8,7,114.285714,618,1434,43.096234,2348,2649,88.637222
관악구,221,320,69.062500,14,12,116.666667,8,9,88.888889,827,2706,30.561715,2642,3298,80.109157
광진구,220,240,91.666667,26,14,185.714286,4,4,100.000000,1277,3026,42.200925,2180,2625,83.047619
구로구,164,281,58.362989,11,15,73.333333,6,8,75.000000,889,2335,38.072805,2432,3007,80.877951
금천구,122,151,80.794702,6,6,100.000000,4,3,133.333333,888,1567,56.668794,1776,2054,86.465433
노원구,121,197,61.421320,7,7,100.000000,10,10,100.000000,801,2193,36.525308,2329,2723,85.530665
도봉구,106,102,103.921569,10,9,111.111111,3,3,100.000000,478,1063,44.967074,1303,1487,87.626093
동대문구,146,173,84.393064,13,13,100.000000,5,5,100.000000,814,1981,41.090358,2227,2548,87.401884
동작구,139,285,48.771930,5,9,55.555556,5,5,100.000000,661,1865,35.442359,1587,1910,83.089005
마포구,247,294,84.013605,10,14,71.428571,8,8,100.000000,813,2555,31.819961,2519,2983,84.445189
서대문구,124,154,80.519481,4,5,80.000000,2,2,100.000000,738,1812,40.728477,1711,2056,83.219844
서초구,249,393,152.699685,6,9,162.500000,6,8,257.142857,1091,2635,74.144869,2098,2399,176.533398
성동구,119,126,94.444444,8,9,88.888889,4,4,100.000000,597,1607,37.149969,1395,1612,86.538462
성북구,124,150,165.370640,4,5,150.000000,5,5,200.000000,741,1785,82.820950,1855,2209,167.766996
송파구,178,220,80.909091,10,13,76.923077,10,11,90.909091,1129,3239,34.856437,2786,3295,84.552352
양천구,296,382,160.400763,16,19,150.000000,13,10,280.952381,1932,3986,95.670059,4748,5716,165.660833
영등포구,183,295,62.033898,20,22,90.909091,12,14,85.714286,978,2964,32.995951,2961,3572,82.894737
용산구,173,194,89.175258,14,14,100.000000,5,5,100.000000,587,1557,37.700706,1704,2050,83.121951
은평구,141,166,169.702381,6,9,121.428571,3,3,200.000000,711,1914,73.948852,2306,2653,173.870407
종로구,161,211,150.842391,9,11,163.333333,5,6,166.666667,837,2184,76.659172,1931,2293,168.552156
중구,111,170,132.673993,6,9,133.333333,2,3,100.000000,859,2548,67.324511,1964,2224,177.716254
중랑구,148,187,79.144385,9,11,81.818182,12,13,92.307692,829,2135,38.829040,2407,2847,84.545135

In [155]:
del seoul_crime_pivot_frm['강간 검거']
del seoul_crime_pivot_frm['강도 검거']
del seoul_crime_pivot_frm['살인 검거']
del seoul_crime_pivot_frm['절도 검거']
del seoul_crime_pivot_frm['폭력 검거']

In [156]:
seoul_crime_pivot_frm

,강간 발생,강간검거율,강도 발생,강도검거율,살인 발생,살인검거율,절도 발생,절도검거율,폭력 발생,폭력검거율
구별,,,,,,,,,,
강남구,449,158.221477,21,180.000000,13,170.000000,3850,87.095081,4284,172.765256
강동구,156,78.846154,6,133.333333,4,75.000000,2366,33.347422,2712,82.890855
강북구,153,82.352941,14,92.857143,7,114.285714,1434,43.096234,2649,88.637222
관악구,320,69.062500,12,116.666667,9,88.888889,2706,30.561715,3298,80.109157
광진구,240,91.666667,14,185.714286,4,100.000000,3026,42.200925,2625,83.047619
구로구,281,58.362989,15,73.333333,8,75.000000,2335,38.072805,3007,80.877951
금천구,151,80.794702,6,100.000000,3,133.333333,1567,56.668794,2054,86.465433
노원구,197,61.421320,7,100.000000,10,100.000000,2193,36.525308,2723,85.530665
도봉구,102,103.921569,9,111.111111,3,100.000000,1063,44.967074,1487,87.626093
동대문구,173,84.393064,13,100.000000,5,100.000000,1981,41.090358,2548,87.401884
동작구,285,48.771930,9,55.555556,5,100.000000,1865,35.442359,1910,83.089005
마포구,294,84.013605,14,71.428571,8,100.000000,2555,31.819961,2983,84.445189
서대문구,154,80.519481,5,80.000000,2,100.000000,1812,40.728477,2056,83.219844
서초구,393,152.699685,9,162.500000,8,257.142857,2635,74.144869,2399,176.533398
성동구,126,94.444444,9,88.888889,4,100.000000,1607,37.149969,1612,86.538462
성북구,150,165.370640,5,150.000000,5,200.000000,1785,82.820950,2209,167.766996
송파구,220,80.909091,13,76.923077,11,90.909091,3239,34.856437,3295,84.552352
양천구,382,160.400763,19,150.000000,10,280.952381,3986,95.670059,5716,165.660833
영등포구,295,62.033898,22,90.909091,14,85.714286,2964,32.995951,3572,82.894737
용산구,194,89.175258,14,100.000000,5,100.000000,1557,37.700706,2050,83.121951
은평구,166,169.702381,9,121.428571,3,200.000000,1914,73.948852,2653,173.870407
종로구,211,150.842391,11,163.333333,6,166.666667,2184,76.659172,2293,168.552156
중구,170,132.673993,9,133.333333,3,100.000000,2548,67.324511,2224,177.716254
중랑구,187,79.144385,11,81.818182,13,92.307692,2135,38.829040,2847,84.545135

In [167]:
cols = ['강간검거율', '살인검거율', '강도검거율', '폭력검거율', '절도검거율']
for col in cols:
    seoul_crime_pivot_frm[col][seoul_crime_pivot_frm[col]>100] =100
    
seoul_crime_pivot_frm

,강간 발생,강간검거율,강도 발생,강도검거율,살인 발생,살인검거율,절도 발생,절도검거율,폭력 발생,폭력검거율
구별,,,,,,,,,,
강남구,449,100.000000,21,100.000000,13,100.000000,3850,87.095081,4284,100.000000
강동구,156,78.846154,6,100.000000,4,75.000000,2366,33.347422,2712,82.890855
강북구,153,82.352941,14,92.857143,7,100.000000,1434,43.096234,2649,88.637222
관악구,320,69.062500,12,100.000000,9,88.888889,2706,30.561715,3298,80.109157
광진구,240,91.666667,14,100.000000,4,100.000000,3026,42.200925,2625,83.047619
구로구,281,58.362989,15,73.333333,8,75.000000,2335,38.072805,3007,80.877951
금천구,151,80.794702,6,100.000000,3,100.000000,1567,56.668794,2054,86.465433
노원구,197,61.421320,7,100.000000,10,100.000000,2193,36.525308,2723,85.530665
도봉구,102,100.000000,9,100.000000,3,100.000000,1063,44.967074,1487,87.626093
동대문구,173,84.393064,13,100.000000,5,100.000000,1981,41.090358,2548,87.401884
동작구,285,48.771930,9,55.555556,5,100.000000,1865,35.442359,1910,83.089005
마포구,294,84.013605,14,71.428571,8,100.000000,2555,31.819961,2983,84.445189
서대문구,154,80.519481,5,80.000000,2,100.000000,1812,40.728477,2056,83.219844
서초구,393,100.000000,9,100.000000,8,100.000000,2635,74.144869,2399,100.000000
성동구,126,94.444444,9,88.888889,4,100.000000,1607,37.149969,1612,86.538462
성북구,150,100.000000,5,100.000000,5,100.000000,1785,82.820950,2209,100.000000
송파구,220,80.909091,13,76.923077,11,90.909091,3239,34.856437,3295,84.552352
양천구,382,100.000000,19,100.000000,10,100.000000,3986,95.670059,5716,100.000000
영등포구,295,62.033898,22,90.909091,14,85.714286,2964,32.995951,3572,82.894737
용산구,194,89.175258,14,100.000000,5,100.000000,1557,37.700706,2050,83.121951
은평구,166,100.000000,9,100.000000,3,100.000000,1914,73.948852,2653,100.000000
종로구,211,100.000000,11,100.000000,6,100.000000,2184,76.659172,2293,100.000000
중구,170,100.000000,9,100.000000,3,100.000000,2548,67.324511,2224,100.000000
중랑구,187,79.144385,11,81.818182,13,92.307692,2135,38.829040,2847,84.545135

In [169]:
print('step05 - xx발생 : xx rename')

loop = ['강간', '강도', '살인', '폭력', '절도']
for i in loop:
    seoul_crime_pivot_frm.rename(columns = {i + '발생' : i}, inplace = True)
    
seoul_crime_pivot_frm

step05 - xx발생 : xx rename

In [170]:
seoul_crime_pivot_frm

,강간,강간검거율,강도,강도검거율,살인,살인검거율,절도,절도검거율,폭력,폭력검거율
구별,,,,,,,,,,
강남구,449,100.000000,21,100.000000,13,100.000000,3850,87.095081,4284,100.000000
강동구,156,78.846154,6,100.000000,4,75.000000,2366,33.347422,2712,82.890855
강북구,153,82.352941,14,92.857143,7,100.000000,1434,43.096234,2649,88.637222
관악구,320,69.062500,12,100.000000,9,88.888889,2706,30.561715,3298,80.109157
광진구,240,91.666667,14,100.000000,4,100.000000,3026,42.200925,2625,83.047619
구로구,281,58.362989,15,73.333333,8,75.000000,2335,38.072805,3007,80.877951
금천구,151,80.794702,6,100.000000,3,100.000000,1567,56.668794,2054,86.465433
노원구,197,61.421320,7,100.000000,10,100.000000,2193,36.525308,2723,85.530665
도봉구,102,100.000000,9,100.000000,3,100.000000,1063,44.967074,1487,87.626093
동대문구,173,84.393064,13,100.000000,5,100.000000,1981,41.090358,2548,87.401884
동작구,285,48.771930,9,55.555556,5,100.000000,1865,35.442359,1910,83.089005
마포구,294,84.013605,14,71.428571,8,100.000000,2555,31.819961,2983,84.445189
서대문구,154,80.519481,5,80.000000,2,100.000000,1812,40.728477,2056,83.219844
서초구,393,100.000000,9,100.000000,8,100.000000,2635,74.144869,2399,100.000000
성동구,126,94.444444,9,88.888889,4,100.000000,1607,37.149969,1612,86.538462
성북구,150,100.000000,5,100.000000,5,100.000000,1785,82.820950,2209,100.000000
송파구,220,80.909091,13,76.923077,11,90.909091,3239,34.856437,3295,84.552352
양천구,382,100.000000,19,100.000000,10,100.000000,3986,95.670059,5716,100.000000
영등포구,295,62.033898,22,90.909091,14,85.714286,2964,32.995951,3572,82.894737
용산구,194,89.175258,14,100.000000,5,100.000000,1557,37.700706,2050,83.121951
은평구,166,100.000000,9,100.000000,3,100.000000,1914,73.948852,2653,100.000000
종로구,211,100.000000,11,100.000000,6,100.000000,2184,76.659172,2293,100.000000
중구,170,100.000000,9,100.000000,3,100.000000,2548,67.324511,2224,100.000000
중랑구,187,79.144385,11,81.818182,13,92.307692,2135,38.829040,2847,84.545135